
.default-color0.chart-pie { -fx-pie-color: #55dc55; }
.default-color1.chart-pie { -fx-pie-color: #46d4d4; }
.default-color2.chart-pie { -fx-pie-color: #dcdc55; }
.default-color3.chart-pie { -fx-pie-color: #e61f15; }
.default-color4.chart-pie { -fx-pie-color: #000000; }

 
.default-color0.chart-bar { -fx-bar-fill: #46d4d4; }
